* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
}

.para {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.title1 {
    font-size: 3rem;
    font-weight: 300;
    color: red;
}

.title2 {
    font-size: 2rem;
    font-weight: 700;
    color: green;
}